.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.25);
}

h1 {
  font-size: 3rem;
  color: #3e97ff;
  cursor: pointer;
}

a {
  margin: 0 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

a:hover {
  color: #3e97ff;
}

@media (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 2rem;
  }

  .links {
    padding-right: 0rem;
  }

  a {
    color: #fff;
    padding: 0 2rem;
    transition: all 0.5s;
  }
}
